<div class="container-fiuld room-new">
    <div class="row">
        <div class="col-lg-2 room-nav room-nav-pc d-lg-block d-none">
            <ul>
                <li class="active"><a href="/rooms/new">基本情報</a></li>
            </ul>
        </div>
        <div class="col-lg-2 room-nav room-nav-mobile d-lg-none">
            <ul>
                <li class="active"><a href="/rooms/new">基本情報</a></li>
            </ul>
        </div>
        <div class="col-lg-10 room-view">
            <div class="room-view-box">
                <%= form_tag("/rooms/create", method: :post, class: "new_room", id: "new_room", multipart: true) do %>
                    <input type="hidden" name="authenticity_token" value="zKnn3q9lsj33Y03WEUIn6Oyxfd/taaxucBkryrV8Whu5HgJEw/y89BLUT78qqNybpOg8IABkoCrXYUs+ZPD63w==">
                    <div class="update-content">
                        <div class="row">
                            <h5>ルーム情報登録</h5>
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="name">ルーム名</label>
                            <input class="form-control mb-4 col-md-9" placeholder="ルーム名を入力" type="text"
                                name="name" id="room_name">
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="content">ルーム紹介</label>
                            <textarea rows="5" class="form-control mb-4 col-md-9" placeholder="ルーム説明を入力"
                                name="description" id="room_content"></textarea>
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="price">料金</label>
                            <input class="form-control mb-4 col-md-9" placeholder="一日あたりの料金を入力" type="number"
                                name="price" id="room_price">
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="address">住所</label>
                            <input class="form-control mb-4 col-md-9" placeholder="住所を入力" type="text"
                                name="address" id="room_address">
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="image">ルーム画像</label>
                            <input class="mb-4 col-md-9" placeholder="ルーム画像をアップロード" type="file" name="thumbnail"
                                id="room_image">
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <input type="submit" name="commit" value="登録" class="col-md-2 btn btn-primary mx-3"
                                data-disable-with="登録">
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>