<div class="container-fiuld room-posts">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><a href="/rooms/310"><img onerror="this.onerror=null;this.src='/assets/room01.jpg';" class="room-posts-image" src="/assets/room01.jpg"></a></td>
          <td class="posts-name"><a href="/rooms/310">a</a></td>
          <td class="posts-content">a</td>
          <td class="price-icon">1</td>
          <td>2021-05-05 13:33:12 UTC</td>
        </tr>
        <tr>
          <td><a href="/rooms/322"><img onerror="this.onerror=null;this.src='/assets/room01.jpg';" class="room-posts-image" src="/assets/room01.jpg"></a></td>
          <td class="posts-name"><a href="/rooms/322">aa</a></td>
          <td class="posts-content">ddd</td>
          <td class="price-icon">12000</td>
          <td>2021-05-12 16:58:03 UTC</td>
        </tr>
    </tbody>
  </table>
</div>